@font-face {
    font-family: 'maPolice';
    src: url('/public/Poppins-ExtraLight.ttf') format('woff2');
}
.light-mode {
    --bg-color: rgb(255, 255, 255);
    --nav-color: rgb(255, 255, 255);
    --font-color: rgb(0, 0, 0);
    --specialFeaturs: rgb(255, 255, 255);
    --navlinks-color: rgba(112, 112, 112, 0.7);
}
.dark-mode {
    --bg-color: rgb(55, 55, 65);
    --nav-color: rgb(35, 35, 35);
    --font-color: rgb(205, 205, 205);
    --specialFeaturs: rgb(205, 205, 205);
    --navlinks-color: rgba(20, 20, 25, 0.65);
}
.navbar,
.navbar__link > p {
    color: var(--font-color);
}
.bar_menu,
.bar_menu::before,
.bar_menu::after {
    background: var(--font-color);
}
.arrows,
.arrows::before {
    background-color: var(--font-color);
}
.etat0,
.etat1,
.etat2,
.etat3 {
    border: solid 0px var(--font-color);
}
.show_arrow0 .etat0,
.show_arrow1 .etat1,
.show_arrow2 .etat2,
.show_arrow3 .etat3 {
    border: solid 1px var(--font-color);
}
body {
    background-color: var(--bg-color);
    margin: 0;
    font-size: var(--font-size);
    font-family: "maPolice", sans-serif;
    cursor: default;
}
* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}
/* terrain de baseball avec bases */
/* terrain de baseball / carré vert */
:root {
    --textureColor: #5d0303;
    /* d46363 5d0303 000000 923a3a */
}
.ground {
    z-index: 1;
    background-color: rgb(0, 128, 0);
    height: 350px;
    width: 350px;
    position: relative;
    /* margin-top: 50px; */
    top: 50%;
    left: 50%;
    border-radius: 25px;
    transform: translate(-50%, 35%);
    box-shadow: 0 0 20px 5px black;
} 
/* terrain de baseball partie terre */
.ground:before {
    content: "";
    position: absolute;
    background-image: repeating-linear-gradient(-45deg, var(--textureColor) 0, var(--textureColor) 2px, transparent 0, transparent 50%);
    background-size: 25px 25px; 
    background-color: #923a3a;
    background-position: 26px 26px;
    height: 300px;
    width: 300px;
    transform: translate(0px, 51px);
    border-top-right-radius: 55%;
    border-bottom-left-radius: 25px;
}
/* centre terrain */
.carre {
    height: 150px;
    width: 150px;
    transform: translate(45%, 90%);
    background-color: rgb(0, 128, 0);
}
/* centre terrain bord creusé */
.carre:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: repeating-linear-gradient(-45deg, var(--textureColor) 0, var(--textureColor) 2px, transparent 0, transparent 50%);
    background-size: 25px 25px; 
    background-color: #923a3a;
    background-position: 32.75px 32.75px;
    border-radius: 20px;
    transform: translate(-40%, -40%);
}
.terre1, .terre2, .terre3 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: repeating-linear-gradient(-45deg, var(--textureColor) 0, var(--textureColor) 2px, transparent 0, transparent 50%);
    background-size: 25px 25px; 
    background-color: #923a3a;
    border-radius: 20px;
}
.terre1 {
    transform: translate(-20px, 120px);
    background-position: 38px 38px;
}
.terre2 {
    transform: translate(120px, 120px);
    background-position: 30.25px 30.25px;
}
.terre3 {
    transform: translate(120px, -20px);
    background-position: 38px 38px;
}
/* chemain entre les bases */
.chemainX {
    background-color: var(--specialFeaturs);
    height: 3px;
    width: 90px;
    border-radius: 25px;
    transform: translate(108%, -57.5px);
    box-shadow: 0px -168px 0 0 var(--specialFeaturs);
}
.chemainY {
    background-color: var(--specialFeaturs);
    height: 90px;
    width: 3px;
    border-radius: 25px;
    transform: translate(58px, -187.5px);
    box-shadow: 167px 0px 0 0 var(--specialFeaturs);
}
/* taille des bases */
.base_div {
    position: relative;
    width: 50px;
    height: 50px;
}
/* aspect des bases */
.base {
    border-width: 4px;
    border-color: red; /* rgb(35, 210, 35) */
    border-style: solid;
    border-radius: 15px;
    /* outline: solid black 1.5px;  */
    width: 50px;
    height: 50px;
    transition-duration: 0.5s;
    background-color: var(--specialFeaturs);
}
.base:active {
    transition-timing-function: ease;
    background-color: gray;
    transform: scale(1.15);
}
/* position bases */
.base_0 {
    transform: translate(80%, 225%);
}
.base_1 {
    transform: translate(390%, 125%);
}
.base_2 {
    transform: translate(390%, -285%);
}
.base_3 {
    transform: translate(80%, -385%);
}
/* menu bases */
/* menu burger */
.navbar {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.1rem;
    background: var(--nav-color);
    box-shadow: 0 0 20px 5px black;
}
/* bouton menu burger */
.menu_burger {
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
}
/* bar du bouton burger */
.bar_menu {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 3px;
    transition: all 0.25s ease-in-out;
}
.bar_menu::before,
.bar_menu::after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    border-radius: 3px;
    transition: all 0.25s ease-in-out;
}
/* position des bar */
.bar_menu::before {
    transform: translateY(-12px);
}
.bar_menu::after {
    transform: translateY(12px);
}
/* liste du menu */
.navbar__links {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0;
    height: calc(100vh - 65px);
    position: absolute;
    top: 65px;
    left: 0;
    backdrop-filter: blur(1px);
    transition: all 0.5s ease-in-out;
    display: flex;
    background: var(--navlinks-color);
}
/* elements ans la liste */
.navbar__link {
    padding: 15px 15px;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.navbar__link > p {
    text-decoration: none;
    position: relative;
    display: block;
    font-size: 1.6rem;
    transition: all 0.5s ease-in-out;
}
/* position logo */
.logo {
    display: flex;
    margin-left: 15px;
}
/* aspect et position de la liste dans le menu */
ul {
    list-style: none;
}
li {
    margin-top: -25px;
}
li:first-child {
    margin-top: -10px;
}
/* indice ouverture/fermeture description des bases */
.arrows {
    position: relative;
    border-radius: 2px;
    left: 100px;
    top: -25px;
    height: 3px;
    width: 15px;
    transform: rotate(45deg);
    transition: all 0.5s ease-in-out;
}
.arrows::before {
    content: "";
    position: absolute;
    border-radius: 2px;
    top: 6px;
    left: 6px;
    height: 3px;
    width: 15px;
    transform: rotate(-90deg);
}
/* mode sombre/claire */
.switch {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
    top: 6px;
    left: 5px;
}
.switch input {
	position: absolute;
	top: -30px;
	left: -30px;
	width: 0px;
	height: 0px;
}
.switch input + span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #99b4df;
    border-radius: 20px;
}
.switch input:checked + span {
	background: #346abf;
}
.switch input:checked + span:before {
	left: 32px;
}
.switch input + span:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 4px;
	width: 24px;
	height: 24px;
	background: white;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all .5s;
}
input:checked + .slider2 {
    background-color: #2196f3;
}
input:focus + .slider2 {
    box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider2:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider2.round {
    border-radius: 34px;
}
.slider2.round:before {
    border-radius: 50%;
}
/* description des etats des bases */
.etat0,
.etat1,
.etat2,
.etat3 {
    font-size: 15px;
    width: 130px;
    max-height: 0;
    border-radius: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
/* position des etats */
.etat0 > p:first-child,
.etat1 > p:first-child,
.etat2 > p:first-child,
.etat3 > p:first-child {
    margin-top: 8px;
}
.etat0 > p,
.etat1 > p,
.etat2 > p,
.etat3 > p {
    margin-left: 14px;
}
/* modification valeur volume */
.slider {
    margin-top: 2px;
    width: 100px;
    height: 18px;
    margin-left: 14px;
}
#slider0,
#slider1,
#slider2,
#slider3 {
    vertical-align: middle;
    width: 100px;
    height: 14px;
    transform: translateY(-3px);
}
/* animation */
/* apparition menu */
.show_nav .navbar__links {
    width: 100%;
    border-top-right-radius: 0;
    transform: translateX(0);
}
/* animation bouton burger */
.show_nav .navbar__link {
    transform: translateX(0);
}
.show_nav .bar_menu {
    background: transparent;
}
.show_nav .bar_menu::before {
    transform: rotate(45deg);
}
.show_nav .bar_menu::after {
    transform: rotate(-45deg);
}
/* animation fleches */
.show_all_arrows .all_arrows {
    transform: rotate(135deg) translateY(-5px);
}
.show_arrow0 .arrow0 {
    transform: rotate(135deg) translateY(-5px);
}
.show_arrow1 .arrow1 {
    transform: rotate(135deg) translateY(-5px);
}
.show_arrow2 .arrow2 {
    transform: rotate(135deg) translateY(-5px);
}
.show_arrow3 .arrow3 {
    transform: rotate(135deg) translateY(-5px);
}
/* affichage description des bases */
.show_arrow0 .etat0,
.show_arrow1 .etat1,
.show_arrow2 .etat2,
.show_arrow3 .etat3 {
    padding-bottom: 10px;
    max-height: 100px;
    border-radius: 18px;
}